
.tickethist-board {
   display: flex;
   flex-flow: row wrap;
}

/* The full style of a column is "column col-X". */
/* <div class="column col-X"><div class="column-content"> */
.tickethist-board .column {
   margin: 0;
   padding: 0;
}

/* Default (for mobile): */
.col-1 {width: 100%;}
.col-2 {width: 100%;}
.col-3 {width: 100%;}
.col-4 {width: 100%;}
.col-5 {width: 100%;}
.col-6 {width: 100%;}
.col-7 {width: 100%;}
.col-8 {width: 100%;}
.col-9 {width: 100%;}
.col-10 {width: 100%;}
.col-11 {width: 100%;}
.col-12 {width: 100%;}

/* <div class="note-box"><div class="note"> */
.tickethist-board .note-box {
   width: 100%;
}
.tickethist-board .note {
   height: 5vh;
   margin: 1px;
   border: 1px solid #ffe072;
   overflow: hidden;
   background-color: #fcffb2;
}

.tickethist-board .note-head {
   background-color: #f0f0f0;
}
.tickethist-board .note-head .ticket {
   font-size: 120%;
}
.tickethist-board .note-head .estimate {
   font-size: 120%;
}
.tickethist-board .note-head .owner {
   font-size: 100%;
}

.tickethist-board .column-content {
   margin: 1px;
   display: flex;
   flex-flow: row wrap;
}

.tickethist-board .column-title {
   margin: 0;
   margin-bottom: 2px;
   margin-right: 2px;
   background-color: #c0c0c0;
   font-size: 120%;
}

@media (min-width: 400px) {
   /* When the media is wide enough, display 2 notes per row */
   .tickethist-board .note { height: 7vh; }
   .tickethist-board .col-1 .note-box { width: 50%; }
   .tickethist-board .col-2 .note-box { width: 50%; }
   .tickethist-board .col-3 .note-box { width: 50%; }
   .tickethist-board .col-4 .note-box { width: 50%; }
   .tickethist-board .col-5 .note-box { width: 50%; }
   .tickethist-board .col-6 .note-box { width: 50%; }
   .tickethist-board .col-7 .note-box { width: 50%; }
   .tickethist-board .col-8 .note-box { width: 50%; }
   .tickethist-board .col-9 .note-box { width: 50%; }
   .tickethist-board .col-10 .note-box { width: 50%; }
   .tickethist-board .col-11 .note-box { width: 50%; }
   .tickethist-board .col-12 .note-box { width: 50%; }
}

@media only screen and (min-width: 768px) {
   /* For desktop: */
   .col-1  { width: 8.33%;}
   .col-2  { width: 16.66%;}
   .col-3  { width: 25%;}
   .col-4  { width: 33.33%;}
   .col-5  { width: 41.66%;}
   .col-6  { width: 50%;}
   .col-7  { width: 58.33%;}
   .col-8  { width: 66.66%;}
   .col-9  { width: 75%;}
   .col-10 { width: 83.33%;}
   .col-11 { width: 91.66%;}
   .col-12 { width: 100%;}

   .tickethist-board .note { height: 7vh; }
   .tickethist-board .col-1 .note-box { width: 100%; }
   .tickethist-board .col-2 .note-box { width: 100%; }
   .tickethist-board .col-3 .note-box { width: 50%; }
   .tickethist-board .col-4 .note-box { width: 50%; }
   .tickethist-board .col-5 .note-box { width: 33%; }
   .tickethist-board .col-6 .note-box { width: 33%; }
   .tickethist-board .col-7 .note-box { width: 25%; }
   .tickethist-board .col-8 .note-box { width: 25%; }
   .tickethist-board .col-9 .note-box { width: 20%; }
   .tickethist-board .col-10 .note-box { width: 20%; }
   .tickethist-board .col-11 .note-box { width: 16%; }
   .tickethist-board .col-12 .note-box { width: 16%; }
}


